@model Web.ViewModels.CustomerCreditsBulkViewModel

@{
    Layout = null;
    var formId = Guid.NewGuid();
}

<form id="@formId" asp-route="CreateUploadedCreditUtilized" method="post" data-request="ajax">
    <fieldset>
        <div class="mb-3" role="toolbar">
            <div class="form-row align-items-end">
                <div class="col">
                    <label asp-for="CompanyId"></label>
                    <select asp-for="CompanyId" asp-items="@ViewBag.Companies" class="form-control" required>
                        <option value="" disabled selected>Select Company</option>
                    </select>
                </div>
                <div class="col">
                    <label asp-for="CreatedDate"></label>
                    <input type="date" asp-for="CreatedDate" class="form-control" required />
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        @for(var i = 0; i < Model.HeadRow.Count(); i++) {
                            <th>@Model.HeadRow[i]</th>
                        }
                    </tr>
                    <tr>
                        @for(var i = 0; i < Model.HeadRow.Count(); i++) {
                            var column = Model.HeadRow[i];
                            <th>
                                <input type="hidden" name="HeadRow[]" value="@column" />
                                <input type="hidden" name="Columns[][Index]" value="@i" />
                                <select asp-items="@ViewBag.Fields" class="form-control" name="Columns[][Name]">
                                    <option value="">Nothing selected</option>
                                </select>
                            </th>
                        }
                    </tr>
                    <tr></tr>
                </thead>
                <tbody>
                    @for(var i = 0; i < Model.Rows.Count; i++) {
                        var rows = Model.Rows[i];
                        <tr>
                            @for(var j = 0; j < rows.Count(); j++) {
                                var row = rows[j];
                                <td>@row.Value</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </fieldset>
</form>