@model Web.ViewModels.CustomerViewModel

@{
    ViewData["Title"] = "Edit Customer";
    ViewData["SubTitle"] = "Please provide all required details to edit customer info";
}

@section Toolbar  {
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <form method="POST" asp-action="Delete">
                <input asp-for="Id" type="hidden" />
                <button type="submit" class="btn btn-outline-danger" onclick="if (! confirm('Are you sure want to delete this?')) { return false; }"><i class="fa fa-trash-alt mr-1"></i> Remove</button>
            </form>
        </div>
    </div>
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Customers</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <ul id="companyTab" class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" id="general-tab" href="#general">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="address-tab" href="#address">Address</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="credits-tab" href="#credits">Credits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="activities-tab" href="#activities">Activities</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <form class="tab-content" id="submitForm" method="POST" asp-action="Edit">
            <input asp-for="Id" type="hidden" />

            <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                <div class="form-row mb-3">
                    <div class="col">
                        <label asp-for="No"></label>
                        <input asp-for="No" type="text" class="form-control" required>
                        <span asp-validation-for="No" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" type="text" class="form-control" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="CompanyId"></label>
                        <input asp-for="CompanyId" type="hidden">
                        <select asp-for="CompanyId" asp-items="@ViewBag.Companies" class="form-control" disabled></select>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <label asp-for="TypeId"></label>
                        <select asp-for="TypeId" asp-items="@ViewBag.CustomerTypes" class="form-control">
                            <option value="">Select customer type</option>
                        </select>
                    </div>
                    <div class="col">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" type="text" class="form-control">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="TagsIds"></label>
                        <select asp-for="TagsIds" asp-items="@ViewBag.Tags" class="form-control selectpicker"
                                multiple
                                data-live-search="true"
                                data-selected-text-format="count > 3"
                                data-actions-box="true">
                        </select>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <label asp-for="Terms"></label>
                        <input asp-for="Terms" type="text" class="form-control">
                        <span asp-validation-for="Terms" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description <span class="text-muted">(Optional)</span></label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                <input asp-for="AddressId" type="hidden" />
                <div class="form-row mb-3">
                    <div class="col-8">
                        <label asp-for="Address"></label>
                        <input asp-for="Address" type="text" class="form-control">
                        <span asp-validation-for="Address" class="form-text text-danger"></span>
                    </div>
                    <div class="col-4">
                        <label asp-for="City"></label>
                        <input asp-for="City" type="text" class="form-control">
                        <span asp-validation-for="City" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Address2">Address 2 <span class="text-muted">(Optional)</span></label>
                    <input asp-for="Address2" type="text" class="form-control" placeholder="Appartment or suite">
                    <span asp-validation-for="Address2" class="form-text text-danger"></span>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <label asp-for="Country"></label>
                        <input asp-for="Country" type="text" class="form-control">
                        <span asp-validation-for="Country" class="form-text text-danger"></span>
                    </div>

                    <div class="col">
                        <label asp-for="State"></label>
                        <input asp-for="State" type="text" class="form-control">
                        <span asp-validation-for="State" class="form-text text-danger"></span>
                    </div>

                    <div class="col">
                        <label asp-for="ZipCode"></label>
                        <input asp-for="ZipCode" type="text" class="form-control">
                        <span asp-validation-for="ZipCode" class="form-text text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="credits" role="tabpanel" aria-labelledby="credits-tab">
                <div class="form-row mb-3">
                    <div class="col-lg-6 col-md-12">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <label>Credit Limit</label>
                            <a asp-controller="Customer" asp-action="CreateCreditLimit" asp-route-customerId="@Model.Id" class="btn btn-outline-secondary"><i class="fa fa-plus mr-1"></i> Create</a>
                        </div>
                        <table class="table table-bordered">
                            @foreach(var item in ViewBag.CreditLimit) {
                                <tr>
                                    <td><span>$</span> @item.Value</td>
                                    <td>@item.CreatedDate.ToString("MMM/dd/yyyy")</td>
                                    <td class="text-right table-active">
                                        <a asp-controller="Customer" asp-action="EditCreditLimit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Edit</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <label>Credit Utilized</label>
                            <a asp-controller="Customer" asp-action="CreateCreditUtilized" asp-route-customerId="@Model.Id" class="btn btn-outline-secondary"><i class="fa fa-plus mr-1"></i> Create</a>
                        </div>
                        <table class="table table-bordered">
                            @foreach(var item in ViewBag.CreditUtilized) {
                                <tr>
                                    <td><span>$</span>@item.Value</td>
                                    <td>@item.CreatedDate.ToString("MMM/dd/yyyy")</td>
                                    <td class="text-right table-active">
                                        <a asp-controller="Customer" asp-action="EditCreditUtilized" asp-route-id="@item.Id" class="btn btn-outline-secondary">Edit</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>


            </div>

            <div id="activities" class="tab-pane fade">
                <div class="form-group">
                    <a asp-controller="Customer" asp-action="CreateActivity" asp-route-customerId="@Model.Id" class="btn btn-outline-secondary"><i class="fa fa-plus mr-1"></i> Change</a>
                </div>

                <div class="form-group">
                    <div class="list-group">
                        @foreach(var item in ViewBag.Activities) {
                            <div class="list-group-item d-flex justify-content-between align-items-center">
                                <span>@(item.IsActive ? "Active" : "Disactive") - @item.CreatedDate.ToString("MMM/dd/yyyy")</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="" role="toolbar" aria-label="Toolbar with button groups">
            <button type="submit" class="btn btn-outline-primary" form="submitForm">Save</button>
            <a asp-action="index" class="btn btn-link">Cancel</a>
        </div>
    </div>
</div>
