@model Web.ViewModels.InvoiceConstructorSearchViewModel
@{
    var formId = Guid.NewGuid();
}

<form id="@formId" asp-route="CreateApi">
    <fieldset>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" required>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-row mb-3">
            <div class="col-4">
                <label asp-for="TagsIds"></label>
                <select asp-for="TagsIds" asp-items="@ViewBag.CustomerTags" name="TagsIds[]" class="form-control" multiple>
                    <option value="0">&#8249; No tags &#8250;</option>
                </select>
            </div>
            <div class="col-4">
                <label asp-for="TypeIds"></label>
                <select asp-for="TypeIds" asp-items="@ViewBag.CustomerTypes" name="TypeIds[]" class="form-control" multiple></select>
            </div>
            <div class="col-4">
                <label asp-for="Recheck"></label>
                <select asp-for="Recheck" asp-items="@ViewBag.CustomerRechecks" name="Recheck[]" class="form-control" multiple>
                </select>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-4">
                <label asp-for="CurrentInvoices"></label>
                <input asp-for="CurrentInvoices" type="number" min="0" class="form-control" data-value-type="number:nullable">
                <span asp-validation-for="CurrentInvoices" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="LateInvoices"></label>
                <input asp-for="LateInvoices" type="number" min="0" class="form-control" data-value-type="number:nullable">
                <span asp-validation-for="LateInvoices" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="OnlyNewCustomers">Customer Group</label>
                <select asp-for="OnlyNewCustomers" class="form-control" data-value-type="boolean" >
                    <option value="true">Only new customers</option>
                    <option value="false">Exclude new customers</option>
                </select>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-4">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" @(Model.RandomSort ? "checked" : "") name="RandomSort:boolean" id="RandomSort" data-val="true" data-value-type="boolean" />
                    <label asp-for="RandomSort" class="form-check-label"></label>
                </div>
            </div>
        </div>
    </fieldset>
</form>