@model Dictionary<string, List<Web.ViewModels.SavedReportFieldViewModel>>

@{
    ViewData["Title"] = "Saved Reports Plan";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="SavedReport" asp-action="Index" asp-fragment="plan">Saved reports</a></li>
        <li class="breadcrumb-item">Plan</li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["CompanyName"]</li>
    </ol>
</nav>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="savedReportTable" class="table table-bordered">
                @foreach(var row in Model.Keys) {
                    var fields = (List<Web.ViewModels.SavedReportFieldViewModel>)Model[row];
                    @if(row != "Id") {
                        <tr>
                            @if(row == "Name") {
                                <th scope="col" width="160px">@row</th>
                                @foreach(var field in fields) {
                                    <th scope="col" width="160px">@(field.Name)</th>
                                }
                            } else {
                                <th scope="row">@(row == "-31-0" ? "Current" : row )</th>
                                @foreach(var field in fields) {
                                    <td>
                                        <span>@(field.Count)</span><br />
                                        @if(field.Amount.HasValue) {
                                            <span>@Core.Extension.NumberExtensionMethods.ToCurrency(field.Amount ?? 0)</span>
                                        }
                                    </td>
                                }
                            }
                            <th scope="row"></th>
                        </tr>
                    }
                }

                @foreach(var row in Model.Keys) {
                    var fields = (List<Web.ViewModels.SavedReportFieldViewModel>)Model[row];
                    if(row == "Name") {
                        <tr class="table-active">
                            <th scope="row">Action</th>

                            @foreach(var field in fields) {
                                <td>
                                    <form asp-action="DeletePlan" asp-route-id="@field.Id" data-action="delete">
                                        <button type="submit" class="btn btn-danger btn-block" onclick="if (! confirm('Are you sure want to delete this?')) { return false; }"><i class="fa fa-trash-alt mr-1"></i> Remove</button>
                                    </form>

                                </td>
                            }
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>