@{
    ViewData["Title"] = "Saved Reports";

    var srFactListUrl = Url.RouteUrl("GetSavedReportFactList");
    var srPlanListUrl = Url.RouteUrl("GetSavedReportPlanList");

    var srFactDetailsUrl = Url.Action("DetailsFact");
    var srPlanDetailsUrl = Url.Action("DetailsPlan");

    var tablistId = Guid.NewGuid();
}


<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">Fact</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="@Guid.NewGuid()" data-toggle="table" data-url="@srFactListUrl"
                           data-search="false"
                           data-pagination="false"
                           data-show-refresh="false"
                           data-show-columns="false"
                           data-show-toggle="false">
                        <thead>
                            <tr>
                                <th data-field="name" data-sortable="true">Company</th>
                                <th data-field="count" class="collapsing">Count</th>
                                <th data-field="companyId" data-formatter="actionFactFormatter" class="text-right table-active collapsing">Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                Plan
                <a asp-controller="SavedReport" asp-action="CreatePlan" ><i class="fa fa-plus mr-1"></i> Create</a>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table id="@Guid.NewGuid()" data-toggle="table" data-url="@srPlanListUrl"
                           data-search="false"
                           data-pagination="false"
                           data-show-refresh="false"
                           data-show-columns="false"
                           data-show-toggle="false">
                        <thead>
                            <tr>
                                <th data-field="name" data-sortable="true">Company</th>
                                <th data-field="count" class="collapsing">Count</th>
                                <th data-field="companyId" data-formatter="actionPlanFormatter" class="text-right table-active collapsing">Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        function actionFactFormatter(value, row) {
            return `<a href='@(srFactDetailsUrl)/${value}' class='btn btn-secondary mr-1' >View</a>`;
        }

         function actionPlanFormatter(value, row) {
            return `<a href='@(srPlanDetailsUrl)/${value}' class='btn btn-secondary mr-1' >View</a>`;
        }
    </script>
}