@model Web.ViewModels.BulkPaymentViewModel
@{
    Layout = null;
}

<form class="card mb-3" action="/api/payment/bulkcreate" method="post">
    <fieldset>
        <input type="hidden" name="CompanyId" value="@Model.CompanyId" />
        <input type="hidden" name="DateFrom" value="@Model.DateFrom.ToString("yyyy-MM-dd")" />
        <input type="hidden" name="DateTo" value="@Model.DateTo.ToString("yyyy-MM-dd")" />
        <div class="card-header">
            <div class="navbar p-0">
                <span class="navbar-text" href="#">Payments @Model.Header</span>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <button class="close" aria-label="Close" onclick="javascript:$(this).close()"><span aria-hidden="true">&times;</span></button>
                    </li>
                </ul>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Payment No</th>
                    <th>Invoice</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @for(var i = 0; i < Model.Payments.Count; i++) {
                    var item = Model.Payments[i];
                    <tr>
                        <td>
                            @(i + 1)
                            <input type="hidden" name="Invoices[]" value="@item.InvoiceId" />
                            <input type="hidden" name="Payments[][No]" value="@item.No" />
                            @*<input type="hidden" name="Payments[][Amount]" value="@item.Amount" />*@
                            <input type="hidden" name="Payments[][InvoiceId]" value="@item.InvoiceId" />
                        </td>
                        <td>@item.No</td>
                        <td>@item.InvoiceNo</td>
                        <td>
                             <input type="text" class="form-control" name="Payments[][Amount]" value="@item.Amount" />
                        </td>
                        <td>
                            <input type="date" class="form-control" name="Payments[][Date]" value="@item.Date.ToString("yyyy-MM-dd")" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="card-footer">
            <div class="" role="toolbar" aria-label="Toolbar with button groups">
                <button class="btn btn-outline-primary">Save</button>
            </div>
        </div>
    </fieldset>
</form>