@model Web.ViewModels.InvoiceConstructorFilterViewModel

@{
    ViewData["Title"] = "Invoice Constructor";
    Layout = null;
    var summaryRanges = (List<Web.ViewModels.CompanySummaryRangeViewModel>)ViewData["SummaryRanges"];
    var searchCriterias = (List<Web.ViewModels.InvoiceConstructorSearchViewModel>)ViewData["SearchCriterias"];
    var constructors = (List<Web.ViewModels.InvoiceConstructorViewModel>)ViewData["Constructors"];
    var customerCounts = (Dictionary<long, int>)ViewData["CustomerCounts"];
}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th rowspan="2">Search criteria</th>
                <th colspan="@(summaryRanges.Count)">@ViewData["CompanyName"] Summary Ranges</th>
                <th rowspan="2">Total</th>
            </tr>
            <tr>
                @foreach(var column in summaryRanges) {
                    <th scope="col"><span class="badge badge-pill badge-dark">@column.From - @column.To</span></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(var criteria in searchCriterias) {
                <tr>
                    <th scope="row">
                        <label class="text-nowrap d-block">@criteria.Name</label>
                        <label class="text-nowrap d-block">Customers: @customerCounts.GetValueOrDefault(criteria.Id, 0)</label>
                    </th>
                    @foreach(var summaryRange in summaryRanges) {
                        <td>
                            @{
                                var formId = Guid.NewGuid();
                                var constructor = constructors.Where(x => x.SearchCriteriaId == criteria.Id && x.SummaryRangeId == summaryRange.Id).FirstOrDefault();
                            }
                            <form id="@formId" asp-route="UpdateDraftInvoices" asp-route-id="@(constructor.Id)">
                                <input type="hidden" name="Id" value="@(constructor.Id)" />
                                <input type="hidden" name="TotalAmount" value="@(constructor.TotalAmount)" />

                                <div class="form-group">
                                    <label>Count</label>
                                    <input type="text" class="form-control count" name="Count_@constructor.Id" value="@constructor.Count" readonly />
                                </div>
                                <div class="form-group">
                                    <label>Total</label>
                                    <div class="input-group input-group-sm">
                                        <input class="form-control totalAmount" name="Total_@constructor.Id" value="@constructor.TotalAmount" readonly />
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="submit" id="button-addon-@constructor.Id" form="@formId"><i class="fa fa-sync-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="form-group view">
                                <a asp-action="View" asp-route-id="@constructor.Id" data-target="modal">View</a>
                            </div>
                        </td>
                    }
                    <td></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th scope="row">Total</th>
                @foreach(var column in summaryRanges) {
                    <td>
                        <input type="hidden" name="Total" />
                        <label></label>
                    </td>
                }
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
