@model Web.ViewModels.InvoiceViewModel

@{
    ViewData["Title"] = "Invoice Details";

    var company = ViewBag.Company;
    var customer = ViewBag.Customer;
    var payments = (List<Web.ViewModels.PaymentViewModel>)ViewBag.Payments;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Invoices</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.No</li>
    </ol>
</nav>


<div class="card bg-light">
    <div class="card-header">
        @company.Name
    </div>
    <div class="card-body bg-light">
        <div class="row">
            <div class="col">
                <h5>Company</h5>
                <div>@company.Address</div>
                <div>@company.PhoneNumber</div>
                <div></div>
            </div>
            <div class="col">
                <h5>Customer</h5>
                <div>@customer.No, @customer.Name</div>
                <div>@customer.Address</div>
                <div>@customer.PhoneNumber</div>
                <div>@customer.Terms</div>
            </div>
            <div class="col text-right">
                <div>Invoice / @Model.Date.ToString("MM/dd/yyyy")</div>
                <div><strong>No# @Model.No</strong></div>
                <div>Due date: @Model.DueDate.ToString("MM/dd/yyyy")</div>
                <div>Amount: @Core.Extension.NumberExtensionMethods.ToCurrency(Model.Amount)</div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Payments</h5>
        <table class="table">
            <thead>
                <tr>
                    <th class="collapsing"></th>
                    <th>No#</th>
                    <th class="collapsing">Date</th>
                    <th class="collapsing text-right">Amount</th>
                </tr>
            </thead>
            <tbody>
                @for(var i = 0; i < payments.Count; i++) {
                    var item = payments[i];
                    <tr>
                        <td>@(i+1)</td>
                        <td><a asp-action="Details" asp-controller="Payment" asp-route-id="@item.Id" class="">@item.No</a></td>
                        <td>@item.Date.ToString("MM/dd/yyyy")</td>
                        <td class="text-right">@Core.Extension.NumberExtensionMethods.ToCurrency(item.Amount)</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td>
                        <small>Total</small>
                        <h1 class="display-4">@Core.Extension.NumberExtensionMethods.ToCurrency(Model.PaymentAmount)</h1>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
