<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewData["Title"] - Platform</title>

    <partial name="_StylePartial" />
</head>
<body class="bg-light">
    <partial name="_HeaderPartial" />
    <div class="container-fluid">
        <div class="row">
            <nav class="col-lg-2 col-md-3 d-none d-md-block bg-white sidebar">
                <partial name="_SidebarPartial" />
                <div class="sidebar-sticky-content">
                    @RenderSection("SidebarContent", required: false)
                </div>
            </nav>

            <main role="main" class="col-lg-10 col-md-9 ml-sm-auto px-4 mb-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h3>@ViewData["Title"]</h3>

                    @RenderSection("Toolbar", required: false)
                </div>

                @RenderBody()
            </main>
        </div>
    </div>

    <partial name="_ModalPartial" />
    <partial name="_ScriptPartial" />

    @RenderSection("Scripts", required: false)
</body>
</html>
