@model Web.ViewModels.CompanyExportSettingsFieldViewModel
@{
    Layout = null;
    var index = Model.Sort;
}

<div class="list-group-item " data-id="@index" id="sortable_@Model.Id">
    <div class="form-row">

        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text disabled">
                        <input asp-for="IsActive" name="Fields[@index][IsActive]" id="Fields[@index][IsActive]" />
                    </div>
                </div>
                <input name="Fields[@index][Name]" class="form-control" value="@Model.Name" required>
                @*<select asp-for="Fields[@index][Name]" asp-items="@ViewBag.Customers" class="form-control selectpicker"
                        data-live-search="true"
                        data-actions-box="true">
                </select>*@
                @*<select name="Fields[@index][Name]" class="form-control">
            <option value="Customer.No">Account Number</option>
            <option value="Customer.Name">Account Business Name</option>
            <option value="Customer.Phone">Account Phone Number</option>
            <option value="Customer.Address.Address">Account Address</option>
            <option value="Customer.Address.City">Account City</option>
            <option value="Customer.Address.State">Account State</option>
            <option value="Customer.Address.ZipCode">Account Zip Code</option>
            <option value="Customer.Address.Country">Account Country</option>
            <option value="Customer.CreditLimit">Credit Limit</option>
            <option value="Customer.CreditUtilized">Credit Utilized</option>
            <option value="Customer.Terms">Terms</option>
            <option value="Customer.CreatedDate">Account Created Date</option>
        </select>*@
            </div>
        </div>

        <div class="col">
            <input name="Fields[@index][Value]" class="form-control" value="@Model.Value" required>
        </div>

        <div class="col-2 text-right">
            <a asp-action="DeleteExportSettingsField" asp-route-id="@Model.Id" class="btn btn-outline-danger" onclick="if (! confirm('Are you sure want to delete this?')) { return false; }"><i class="fa fa-trash-alt mr-1"></i> <span class="d-none d-lg-inline">Remove</span></a>
        </div>
    </div>

    <input type="hidden" name="Fields[@index][ExportSettingsId]" value="@Model.ExportSettingsId" />
    <input type="hidden" name="Fields[@index][Id]" id="Fields[@index][Id]" value="@Model.Id" />
    <input type="hidden" id="sort_@index" name="Fields[@index][Sort]" value="@Model.Sort" />
</div>