@model Web.ViewModels.CompanyExportSettingsViewModel

@{
    ViewData["Title"] = "Edit company export settings";
}

@section Toolbar  {
    <div class="btn-toolbar mb-2 mb-md-0" role="toolbar">
        <div class="btn-group mr-2">
            <form method="POST" asp-action="DeleteExportSettings" asp-route-id="@Model.Id">
                <input asp-for="Id" type="hidden" id="deleteId" />
                <button type="submit" class="btn btn-danger"><i class="fa fa-trash-alt mr-1"></i> <span class="d-none d-lg-inline">Remove</span></button>
            </form>
        </div>
    </div>
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Companies</a></li>
        <li class="breadcrumb-item"><a asp-action="Edit" asp-route-id="@Model.CompanyId">@ViewBag.CompanyName</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>

<div class="card">
    <div class="card-body">
        <form id="createForm" method="POST" asp-action="EditExportSettings">
            <input asp-for="Id" type="hidden" />
            <input asp-for="CompanyId" type="hidden" />
            <div class="form-row mb-3">
                <div class="col-4">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-8">
                    <label asp-for="Title">File title <a class="help" href="#" data-placement="right" title="Templates for file-name" data-content-id="#popoverFileTitleContentWrapper" ><i class="fa fa-question-circle"></i></a></label>
                    <input asp-for="Title" class="form-control" required>
                    <span asp-validation-for="Title" class="text-danger"></span>

                    <div id="popoverFileTitleContentWrapper" style="display: none">
                        Date format must be placed between curly brackets <strong>{</strong> and <strong>}</strong>. To CAPITALIZE date format use dollar symbol (<strong>$</strong>) before the brackets.
                        <code>
                            <ul class="list-unstyled m-2">
                                <li><strong>$</strong> - CAPITALIZE DATE</li>
                                <li><strong>d, dd</strong> - Day</li>
                                <li><strong>MM, MMM, MMMM</strong> - Month</li>
                                <li><strong>yy, yyyy</strong> - Year</li>
                            </ul>
                        </code>
                        <span>Example (January 21, 2020):</span>
                        <ol>
                            <li><strong>{M/d/yyyy}</strong> - 1/21/2020</li>
                            <li><strong>{MM/dd/yy}</strong> - 01/21/20</li>
                            <li><strong>{yyyy-MMM-dd}</strong> - 2020-Jan-21</li>
                            <li><strong>${MMM-dd}</strong> - JAN-21</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col-4">
                    <label asp-for="Sort"></label>
                    <select asp-for="Sort" class="form-control">
                        <option value="0">Account Number</option>
                        <option value="1">Business Name</option>
                    </select>
                </div>
                <div class="col-4">
                    <label asp-for="IncludeAllCustomers"></label>
                    <select asp-for="IncludeAllCustomers" class="form-control">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="col-4">
                    <label asp-for="DefaultValueIfEmpty"></label>
                    <input asp-for="DefaultValueIfEmpty" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <a id="createBtn" asp-controller="Company" asp-action="CreateExportSettingsField" asp-route-id="@Model.Id" class="btn btn-secondary"><i class="fa fa-plus mr-1"></i> Create</a>
            </div>

            <div class="form-group">
                <label>Fields  <a id="popoverFields" class="help" href="#" data-placement="bottom" title="Fields names" data-content-id="#popoverFieldsContentWrapper"><i class="fa fa-question-circle"></i></a></label>
                <div id="popoverFieldsContentWrapper" style="display: none">

                    <code>
                        <ul class="list-unstyled m-2">
                            <li><strong>Customer.No</strong> - Account Number</li>
                            <li><strong>Customer.Name</strong> - Business Name</li>
                            <li><strong>Customer.PhoneNumber</strong> - Phone</li>
                            <li><strong>Customer.Terms</strong> - Terms</li>
                            <li><strong>Customer.CreditLimit</strong> - Credit Limit</li>
                            <li><strong>Customer.CreditUtilized</strong> - High Credit Utilized</li>

                            <li><strong>Customer.Address.Address</strong> - Address</li>
                            <li><strong>Customer.Address.Address2</strong> - Address2</li>
                            <li><strong>Customer.Address.City</strong> - City</li>
                            <li><strong>Customer.Address.State</strong> - State</li>
                            <li><strong>Customer.Address.ZipCode</strong> - Postal Code</li>
                            <li><strong>Customer.Address.Country</strong> - Country</li>

                            <li><strong>Current</strong> - Aging Current / Future</li>
                            <li><strong>1-30</strong> - Past Dues 1-30</li>
                        </ul>
                    </code>
                </div>
                
                <div id="exportSettingsFieldsList" class="list-group">
                    @if(Model.Fields != null && Model.Fields.Count > 0) {
                        var fields = Model.Fields.OrderBy(x => x.Sort);
                        var index = 0;
                        @foreach(var field in fields) {
                            field.Sort = index;
                            <partial name="_CompanyExportSettingsFieldPartial" model="field" />
                            index++;
                        }
                    } else {
                        <div>No matching records found</div>
                    }
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="" role="toolbar" aria-label="Toolbar with button groups">
            <button type="submit" class="btn btn-primary" form="createForm">Save</button>
            <a asp-action="Edit" asp-route-id="@Model.CompanyId" class="btn btn-link">Cancel</a>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(e => {
            var $exportSettingsFieldsList = $('#exportSettingsFieldsList');

            var $sortable = new Sortable(exportSettingsFieldsList, {
                //handle: '.handle', // handle's class
                filter: '.disabled',
                draggable: '.list-group-item',
                ghostClass: 'list-group-item-info',
                animation: 150,
                onSort: function (e) {
                    var sort = this.toArray();
                    for (var i = 0; i < sort.length; i++) {
                        var index = sort[i];
                        var field = $(e.to).find(`#sort_${index}`);
                        field.val(i)
                    }

                }
            })

            var $createBtn = $('#createBtn').on('click', e => {
                e.preventDefault();
                var options = {
                    'type': 'get',
                    'url': $(e.target).attr('href')
                }

                $.ajax(options).done((data, status, jqXHR) => {
                    $exportSettingsFieldsList.append(data);
                }).fail((jqXHR, status) => {
                    alert(status)
                });
            });

            $('.help').popover({
                html: true,
                content: function (e) {
                    var target = $(this).data('content-id');
                    return $(target).html();
                }
            });
        })
    </script>
}