@model Web.ViewModels.CompanySummaryRangeViewModel

@{
    ViewData["Title"] = "Edit company summary range";
}

@section Toolbar  {
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <form method="POST" asp-action="DeleteSummary">
                <input asp-for="Id" type="hidden" />
                <button type="submit" class="btn btn-outline-danger" onclick="if (! confirm('Are you sure want to delete this?')) { return false; }"><i class="fa fa-trash-alt mr-1"></i> Remove</button>
            </form>
        </div>
    </div>
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Companies</a></li>
        <li class="breadcrumb-item"><a asp-action="Edit" asp-route-id="@Model.CompanyId">@ViewBag.CompanyName</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.From - @Model.To</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">@ViewBag.CompanyName</div>
    <div class="card-body">
        <form id="editForm" method="POST" asp-action="EditSummary">
            <fieldset>
                <input asp-for="Id" type="hidden" />
                <input asp-for="CompanyId" type="hidden" />
                <div class="form-row mb-3">
                    <div class="col-6">
                        <label asp-for="From"></label>
                        <input asp-for="From" class="form-control" required>
                        <span asp-validation-for="From" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label asp-for="To"></label>
                        <input asp-for="To" class="form-control" required>
                        <span asp-validation-for="To" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="card-footer">
        <div class="" role="toolbar" aria-label="Toolbar with button groups">
            <button type="submit" class="btn btn-outline-primary" form="editForm">Save</button>
            <a asp-action="Edit" asp-route-id="@Model.CompanyId" class="btn btn-link">Cancel</a>
        </div>
    </div>
</div>