@model Web.ViewModels.ReportFilterViewModel

@{
    Layout = null;
    var creditUtilizedList = (List<Web.ViewModels.CustomerCreditUtilizedViewModel>)ViewData["CreditUtilizedList"];

    var formId = Guid.NewGuid();
}


<form id="@(formId)" asp-route="CreateCustomerCreditUtilized">
    <fieldset>
        <input asp-for="CompanyId" type="hidden" />
        <input asp-for="NumberOfPeriods" type="hidden" />
        <div class="form-group row mb-3">
            <div class="col">
                <label asp-for="Date"></label>
                <input asp-for="Date" type="date" class="form-control" required readonly>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="col">
                <label asp-for="RoundType"></label>
                <select asp-for="RoundType" asp-items="Html.GetEnumSelectList<Core.Data.Enum.RoundType>()" class="form-control"> </select>
            </div>
        </div>
        <h6>Customer Credits Utilized Ignored</h6>
        <div class="table-responsive">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th>Account Number</th>
                        <th>Business Name</th>
                        <th>Credits</th>
                    </tr>
                </thead>
                <tbody>
                    @for(var i = 0; i < creditUtilizedList.Count(); i++) {
                        var item = creditUtilizedList[i];
                        <tr>
                            <td><input name="CreditUtilizeds[]" type="checkbox" value="@(item.Id)" checked="checked" /></td>
                            <td>@item.CustomerNo</td>
                            <td>@item.CustomerName</td>
                            <td>
                                <span class="d-block">@Core.Extension.NumberExtensionMethods.ToCurrency(item.Value)</span>
                                <small class="text-muted">@item.CreatedDate.ToString("MM/dd/yyyy")&nbsp;</small>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </fieldset>
</form>



<div class="row">
    <div class="col">
        <h6>Customer Credits Utilized</h6>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Total</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Ignored</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label id="customerTotalCount"></label></td>
                    <td><label id="customerCreditUtilizedCreatedCount"></label></td>
                    <td><label id="customerCreditUtilizedUpdatedCount"></label></td>
                    <td><label id="customerCreditUtilizedIgnoredCount"></label></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(e => {
        var customerTotalCount = $('#customerTotalCount');
        var customerCreditUtilizedCreatedCount = $('#customerCreditUtilizedCreatedCount');
        var customerCreditUtilizedUpdatedCount = $('#customerCreditUtilizedUpdatedCount');
        var customerCreditUtilizedIgnoredCount = $('#customerCreditUtilizedIgnoredCount');

        var $form = $('#@formId').on('submit', e => {
            e.preventDefault();
            $form.ajaxSubmit({}, (form, data, status, jqXHR, opt) => {
                if (status === 'success') {
                    customerTotalCount.html(data.created + data.updated);
                    customerCreditUtilizedCreatedCount.html(data.created);
                    customerCreditUtilizedUpdatedCount.html(data.updated);
                    customerCreditUtilizedIgnoredCount.html(data.ignored);
                   // window.modal.modal('hide');
                }
            });
        });
    });
</script>