@model Web.ViewModels.ReportFilterViewModel

@{
    ViewData["Title"] = "Credit Utilized Report";
    var formId = Guid.NewGuid();
    var tableId = Guid.NewGuid();
    var listUrl = Url.RouteUrl("GetCreditUtilizedReport");
    var deleteUrl = Url.Action("DeleteCreditUtilizeds", "Customer");
}

@section Toolbar  {
    <div class="btn-toolbar" role="toolbar">
        <button id="bulkDeleteBtn" class="btn btn-danger"><i class="fa fa-trash-alt mr-1"></i> Remove</button>
    </div>
}

<div class="row">
    <div class="col-lg-3 col-md-12 mb-3">
        <div class="card">
            <div class="card-body">
                <form id="@formId">
                    <fieldset>
                        <input asp-for="FilterDate" type="hidden" />

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CompanyId"></label>
                            <select id="companyId" asp-for="CompanyId" asp-items="@ViewBag.Companies" class="form-control" required></select>
                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Date"></label>
                            <input type="date" asp-for="Date" class="form-control" required />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer" role="toolbar">
                <button class="btn btn-primary" form="@formId">Generate</button>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-md-12">
        <div class="card">
            <div class="card-body">
                <div id="toolbar" role="toolbar"></div>
                <div class="table-responsive">
                    <table id="@(tableId)" data-toggle="table" data-url="@listUrl"
                           data-query-params="queryParams"
                           data-total-field="totalItems"
                           data-data-field="items"
                           data-select-item-name="CreditUtilizeds[]">
                        <thead>
                            <tr>
                                <th data-checkbox="true"></th>
                                <th data-field="customerNo">Account Number</th>
                                <th data-field="customerName">Business Name</th>
                                <th data-field="createdDate" data-formatter="$.fn.bootstrapTable.formatDate">Date</th>
                                <th data-field="value" data-formatter="$.fn.bootstrapTable.formatCurrency">Value</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function queryParams(params) {
            var filterForm = $('#@formId').serializeJSON();
            return $.extend({}, params, filterForm);
        }

        $(document).ready(e => {
            var key = $.fn.guid();
            var $table = $('#@tableId');

            var $toolbar = $('#toolbar').on('click', 'button', (e) => {
                e.preventDefault();
                $toolbar.find('button').removeClass('btn-primary');
                var value = $(e.target).addClass('btn-primary').data('value');
                filterForm.find('input[name=FilterDate]').val(value);

                $table.bootstrapTable('refresh');
            });

            var filterForm = $('#@formId').on('submit', (e) => {
                key = $.fn.guid();

                e.preventDefault();
                $toolbar.find('button').removeClass('btn-primary');
                filterForm.find('input[name=FilterDate]').val(null);
                $table.bootstrapTable('refresh');
            });

            $table.on('load-success.bs.table', function (e, data, jqXHR) {
                //var key = filterForm.find('input[name=Date]').val();
                if (data != null && $toolbar.attr('data-key') !== key) {
                    var buttons = data.filter['CreatedDate'] !== undefined ? data.filter['CreatedDate'].map(x => $(`<button class='btn btn-secondary btn-sm mr-1' data-value='${x}'>${x}</>`)) : '';
                    var btnGroup = $(`<div id='filterGroup' role='group'>`).append(buttons);
                    $toolbar.attr('data-key', key).html(btnGroup);
                }
                statPanel();
            });

            $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
                statPanel();
            });

            $('#bulkDeleteBtn').on('click', (e) => {
                if (!confirm('Are you sure want to delete this?')) { return false; }

                var selections = $table.bootstrapTable('getSelections');
                var ids = selections.map(x => x.id);

                if (ids.length > 0) {
                    var options = {
                        'type': 'post',
                        'url': '@(deleteUrl)',
                        'data': { ids: ids }
                    };

                    $.when($.ajax(options)).then((data, status) => {
                        if (status === 'success') {
                            $table.bootstrapTable('refresh');
                        }
                    });
                }
            });

            function statPanel(data) {
                var options = $table.bootstrapTable('getOptions');
                var selections = $table.bootstrapTable('getSelections');
                var $bulkDeleteBtn = $('#bulkDeleteBtn');

                if (!selections.length) {
                    $bulkDeleteBtn.hide();
                } else {
                    $bulkDeleteBtn.show();
                }
            }
        });
    </script>
}