@model Dictionary<string, List<string>>

@{
    ViewData["Subtitle"] = "Use saved reports for faster access to the reports you use most often.";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Report" asp-action="Saved">Saved reports</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="savedReportTable" class="table table-bordered">
                @foreach(var row in Model.Keys) {
                    @if(row != "Id") {
                        <tr>
                            @if(row == "Name") {
                                <th scope="col" width="160px">@row</th>
                                @foreach(var col in Model[row]) {
                                    <th scope="col" width="160px">@col</th>
                                }
                            } else if(row == "Files") {
                                <th scope="row">@row</th>
                                @foreach(var col in Model[row]) {
                                    <td>
                                        @if(!string.IsNullOrEmpty(col)) {
                                            @foreach(var d in col.Split(";")) {
                                                <a asp-controller="Report" asp-action="Download" asp-route-id="@d.Split("|")[0]">@d.Split("|")[1]</a><br />
                                            }
                                        }
                                    </td>
                                }
                            } else {
                                <th scope="row">@(row == "-31-0" ? "Current" : row )</th>
                                @foreach(var col in Model[row]) {
                                    <td>
                                        @if(col.Split("|").Length >= 2) {
                                            <span>@col.Split("|")[0]</span><br />
                                            <span>
                                                @*@col.Split("|")[1] <br/>*@
                                                @(Core.Extension.NumberExtensionMethods.ToCurrency(decimal.Parse(col.Split("|")[1].Trim()) ))
                                            </span>
                                        } else {
                                            <span>@col</span>
                                        }
                                    </td>
                                }
                            }
                            <th scope="row"></th>
                        </tr>
                    }
                }

                @foreach(var row in Model.Keys) {
                    if(row == "Id") {
                        <tr class="table-active">
                            <th scope="row">Action</th>

                            @foreach(var col in Model[row]) {
                                <td id="status_@col">
                                    @if(!string.IsNullOrEmpty(col)) {

                                        <form asp-route="PublishSavedReport" asp-route-id="@col" data-action="publish" class="mb-1">
                                            <button type="submit" class="btn btn-secondary btn-block">Publish</button>
                                        </form>

                                        <form asp-action="SavedDelete" asp-route-id="@col" data-action="delete">
                                            <button type="submit" class="btn btn-danger btn-block" onclick="if (! confirm('Are you sure want to delete this?')) { return false; }"><i class="fa fa-trash-alt mr-1"></i> Remove</button>
                                        </form>
                                    } else {
                                        <span class="text-success"><i class="far fa-check-circle"></i> Published</span>
                                    }
                                </td>
                            }
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(e => {
            //on change report status
            $publishReportForms = $('#savedReportTable').find('form[data-action=publish]').on('submit', e => {
                $(e.target).ajaxSubmit({}, (target, data, status) => {
                    status === 'success' && data.isPublished ? $(`#status_${data.id}`).html('<span class="text-success"><i class="far fa-check-circle"></i> Published</span>') : '';
                });
                e.preventDefault();
            });
        })
    </script>
}